.header{
  font-size: rem(20);
  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  &__menu{
    &-list{
      display: flex;
    }
    &-item:not(:last-child){
      margin-right: 30px;
      @media(max-width:767px){
        margin-right: 0px;
      }
    }
    &-link{
      padding: 10px;
      border-bottom: 1px solid transparent;
      width: 0;
      &:hover{
        color: var(--orange);
        border-bottom: 1px solid var(--orange);
      }
    }
    &-item:nth-child(2){
      @media(max-width:424px){
        display: none;
      }
    }
  }
  &__vk{
    display: none;
    justify-self: flex-end;
    @media(max-width:767px){
      display: block;
    }
  }
  &__lk{
    display: flex;
    align-items: center;
    font-size: rem(20);
    border: 1px solid var(--white);
    padding: 20px;
    background-color: var(--black);
    transition: all .3s;
    &:hover{
      color: var(--orange);
      border: 1px solid var(--orange);
    }
    @media(max-width:767px){
      border: unset;
      background-color: transparent;
      padding: 10px 0;
      &>span{
        display: none;
      }
    }
    &>.lk{
      margin-right: 10px;
      @media(max-width:767px){
        margin: 0;
      }
    }
  }
}
.logo{
  display: block;
  @include responsive('width', 90, 70, 0);
  @include responsive('height', 89, 69, 0);
}