.modal{
	--transition-time: 0.3s;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0,0,0, 0.8);
	cursor: pointer;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-time), visibility var(--transition-time);
  &__title-check{
    opacity: 0;
    visibility: hidden;
    font-size: rem(24);
  }
  &__body{
    position: relative;
    cursor: default;
    display: none;
    padding: 30px 10px;
  }
  &-open{
    display: inline-block;
  }
  &.is-open{
    opacity: 1;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity var(--transition-time), visibility var(--transition-time);
  }
  
  &__content{
    position: relative;
    margin: auto;
    max-width: 353px;
    background: rgba($color: #212121, $alpha: 0.9);
    border-radius: var(--bradius);
  }
  &-close{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: var(--bradius);
    background: var(--orange);
  }
  &__form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 30px;
  }
  &__title{
    text-align: center;
    font-size: rem(26);
    margin-bottom: 30px;
    &>span{
      color: var(--orange);
      text-transform: uppercase;
    }
  }
  &__fieldset{
    display: flex;
    flex-direction: column;
  }
  &__input{
    text-align: center;
    font-family: inherit;
    margin-top: 5px;
    font-size: rem(20);
    padding: 10px 15px;
    margin-bottom: 40px;
    border-radius: var(--bradius);
    opacity: 0.5;
  }
  &__btn{
    font-size: rem(22);
    background-color: var(--orange);
    border-radius: var(--bradius);
    padding: 10px 40px;
  }
}
.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}