.tabs {
  margin-top: 50px;
  // .tabs__container
  &__container {
  }
  // .tabs__header
  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: 20px;
    @media(max-width: 767px){
      justify-content: center;
      padding: 20px 10px;
    }
  }
  // .tabs__title-block
  &__title-block {
    display: flex;
    align-items: center;
    flex-basis: 275px;
  }
  // .tabs__cart-block
  &__cart-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    border-radius: 15px;
    width: 55px;
    height: 55px;
    margin-right: 20px;
  }
  // .tabs__title
  &__title {
  }
  // .tabs__header-items
  &__header-items {
    display: flex;
    align-items: center;
    overflow: scroll;
    border-radius: 15px;
    color: var(--black);
    background-color: var(--white);
    &::-webkit-scrollbar{
      display: none;
    }
  }
  // .tabs__header-item
  &__header-item {
  }
  // .tabs__header-link
  &__header-link {
    display: block;
    font-size: rem(18);
    padding: 20px;
    &.active{
      color: var(--white);
      border-radius: 15px;
      background-color: var(--orange);
    }
  }
  // .tabs__footer
  &__footer {
  }
  // .tabs__footer-items
  &__footer-items {
    display: flex;
    margin: 0 20px 20px 20px;
    color: #74726f;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
  }
  // .tabs__footer-item
  &__footer-item {
    margin: 10px 0;
  }
  // .tabs__footer-link
  &__footer-link {
    padding: 5px 0;
    border-bottom: 3px solid transparent;
    &.active{
      border-bottom: 3px solid var(--orange);
    }
  }
}
