.welcome{
  margin-top: -50px;
  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__man{
  }
  &__image{
    @include responsive('width', 473, 200, 0);
    pointer-events: none;
    user-select: none;
  }
  &__body{
    @include responsive('margin-top', -150, -80, 0);
  }
  &__title{
    @include responsive('font-size', 105, 55, 0);
    text-transform: uppercase;
    &>span{
      color: var(--orange);
    }
  }
  &__online{
    @include responsive('font-size', 35, 25, 0);
    &>span{
      color: var(--orange);
    }
  }
  &__ip{
    @include responsive('font-size', 25, 20, 0);
    &>span{
      user-select: none;
      cursor: pointer;
      color: var(--orange);
    }
  }
  &__btn{
    display: inline-block;
    width: fit-content;
    margin-top: 20px;
    position: relative;
    font-size: rem(24);
    background-color: var(--orange);
    padding: 10px 50px;
    border-radius: 0 var(--bradius) var(--bradius) var(--bradius);
    &>.arrow-right{
      position: absolute;
      animation: icon_donate 1.4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    }
    @keyframes icon_donate {
      0%   { right: 2px; }
      50%   { right: 13px; }
      100% { right: 2px; }
    }
  }
}
