footer.footer
  .footer__container 
    .footer__items 
      +svg('visa', '50', '50', '#005798')
      +svg('mastercard', '50', '50')
      +svg('qiwi', '70', '50')
    a.logo(href="index.html") 
      img( src="img/logo.webp", alt="Логотип")
    .footer__items 
      +svg('webmoney', '40', '40')
      +svg('mir', '70', '50')
      +svg('yoomoney', '70', '50')
