header.header
  .header__container 
    a.logo(href="index.html") 
      img(src="img/logo.webp", alt="Логотип")
    nav.header__menu 
      ul.header__menu-list 
        li.header__menu-item 
          a.header__menu-link(href="index.html") Главная
        li.header__menu-item 
          a.header__menu-link(href='https://vk.com/fixmine_ru' target='_blank') Новости
        li.header__menu-item 
          a.header__menu-link(href="shop.html") Магазин
    a.header__lk(href="lk.html") 
      +svg('lk', '30', '30', 'currentColor')
      span Личный кабинет