section.donate 
  .donate__container 
    .donate__title-block 
      .o-block.donate__block 
      h2.donate__title Покупка привилегий
    .donate__items 
      a.donate__item 
        .donate__item-price 1000₽
        .donate__item-content 
          .donate__item-image 
            img(src="img/donate/helper.webp", alt="Helper")
            .donate__item-title Helper 
          .donate__item-cart 
            +svg('cart', '30', '30', '', '#000')
      a.donate__item 
        .donate__item-price 1000₽
        .donate__item-content 
          .donate__item-image 
            img(src="img/donate/helper.webp", alt="Helper")
            .donate__item-title Helper 
          .donate__item-cart 
            +svg('cart', '30', '30', '', '#000')
      a.donate__item 
        .donate__item-price 1000₽
        .donate__item-content 
          .donate__item-image 
            img(src="img/donate/helper.webp", alt="Helper")
            .donate__item-title Helper 
          .donate__item-cart 
            +svg('cart', '30', '30', '', '#000')
      a.donate__item 
        .donate__item-price 1000₽
        .donate__item-content 
          .donate__item-image 
            img(src="img/donate/helper.webp", alt="Helper")
            .donate__item-title Helper 
          .donate__item-cart 
            +svg('cart', '30', '30', '', '#000')
      a.donate__item 
        .donate__item-price 1000₽
        .donate__item-content 
          .donate__item-image 
            img(src="img/donate/helper.webp", alt="Helper")
            .donate__item-title Helper 
          .donate__item-cart 
            +svg('cart', '30', '30', '', '#000')
      a.donate__item 
        .donate__item-price 1000₽
        .donate__item-content 
          .donate__item-image 
            img(src="img/donate/helper.webp", alt="Helper")
            .donate__item-title Helper 
          .donate__item-cart 
            +svg('cart', '30', '30', '', '#000')
      a.donate__item 
        .donate__item-price 1000₽
        .donate__item-content 
          .donate__item-image 
            img(src="img/donate/helper.webp", alt="Helper")
            .donate__item-title Helper 
          .donate__item-cart 
            +svg('cart', '30', '30', '', '#000')
      a.donate__item 
        .donate__item-price 1000₽
        .donate__item-content 
          .donate__item-image 
            img(src="img/donate/helper.webp", alt="Helper")
            .donate__item-title Helper 
          .donate__item-cart 
            +svg('cart', '30', '30', '', '#000')
      a.donate__item 
        .donate__item-price 1000₽
        .donate__item-content 
          .donate__item-image 
            img(src="img/donate/helper.webp", alt="Helper")
            .donate__item-title Helper 
          .donate__item-cart 
            +svg('cart', '30', '30', '', '#000')
      a.donate__item 
        .donate__item-price 1000₽
        .donate__item-content 
          .donate__item-image 
            img(src="img/donate/helper.webp", alt="Helper")
            .donate__item-title Helper 
          .donate__item-cart 
            +svg('cart', '30', '30', '', '#000')