section.payment
  .payment__container 
    h2.payment__title 
      |Платеж #
      span 0058
    .payment__items 
      a.payment__item(href="#") 
        +svg('visa', '60', '60', '#005798')
      a.payment__item(href="#") 
        +svg('mastercard', '80', '80')
      a.payment__item(href="#") 
        +svg('qiwi', '100', '70')
      a.payment__item(href="#") 
        +svg('webmoney', '60', '60')
      a.payment__item(href="#") 
        +svg('mir', '100', '50')
      a.payment__item(href="#") 
        +svg('yoomoney', '150', '60')