section.stats
  .stats__container 
    .stats__image
      .mask-man
      img(src="img/skin.webp", alt="Игрок")
    .stats__content 
      h2.stats__content-title Статистика
      .stats__info 
        .stats__info-title 
          |Статус: 
          span Обычный игрок
        .stats__info-title 
          |Время в игре: 
          span 2
          |д.
          span 17
          |ч.
          span 23
          |м.
        .stats__info-title 
          |Дата регистрации: 
          span 23.11.2021
        .stats__info-title 
          |Денег: 
          span 174200.36$
      .stats__btns 
        button.stats__btn Выйти
        button.stats__btn Подарок
