section.tabs 
  .tabs__container 
    .tabs__header 
      .tabs__title-block 
        .tabs__cart-block 
          +svg('cart', '30', '30', '', 'currentColor')
        h1.tabs__title Магазин товаров
      nav.tabs__header-items 
        .tabs__header-item
          a.tabs__header-link(href='#tab-header-1') Привилегии
        .tabs__header-item
          a.tabs__header-link(href='#tab-header-2') Товары
    .tabs__footer 
      nav.tabs__footer-items 
        .tabs__footer-item
          a.tabs__footer-link(href='#tab-footer-1') Выживание
        .tabs__footer-item
          a.tabs__footer-link(href='#tab-footer-2') Один Блок
        .tabs__footer-item
          a.tabs__footer-link(href='#tab-footer-3') БедВарс
