section.tabs 
  .tabs__container 
    .tabs__header 
      .tabs__title-block 
        .tabs__cart-block 
          +svg('cart', '30', '30', '', 'currentColor')
        h1.tabs__title Магазин товаров
      nav.tabs__header-items(data-tabs)
        button.tabs__header-link Привилегии
        button.tabs__header-link Товары