section.welcome 
  .welcome__container 
    .welcome__man 
      img.welcome__image(src="img/welcome-man.webp", alt="Привет!")
    .welcome__body 
      h1.welcome__title 
        span Fix
        |Mine
      .welcome__online 
        |Онлайн 
        span 273 
        |из 
        span 1000
      .welcome__ip
        |Наш IP: 
        span(class='ip', id='ip') mc.FixMine.ru
      a.welcome__btn(href='shop.html')
        |Магазин
        +svg('arrow-right', '30', '30')
